

<header>
    <div id="käse">
        <a routerLink="app-startseite" routerLinkActive="active">
            <img src="assets/images/käse.png">
        </a>
    </div>

    <nav>
    <ul>
        <li><a routerLink="/app-kaese-kaufen" routerLinkActive="active">Käseauswahl</a></li>
        <li><a routerLink="#info">Auf große Käsereise</a></li>
        <li><a routerLink="/app-konto" routerLinkActive="active">Mein Käse Konto</a></li>
        <li><a routerLink="/app-kontakt" routerLinkActive="active">Kontakt</a></li>
    </ul>
    </nav>
</header>


<router-outlet></router-outlet>


